<div class="quiz-component">

    {% if screen == 'result' %}

    <div class="quiz-feedback">
        <small class="question-progress">
            Vraag {{ step | plus: 1 }}/{{ sections.size }}
        </small>
        <h3 class="question-title">{{ question.question }}</h3>

        <div class="selected-answer {% if correct == 'true' %}is-correct{% else %}is-wrong{% endif %}">

            <p>{{ selectedOption.key }}. {{ selectedOption.answer }}</p>
            {% if correct == 'true' %}
            <span>✔</span>
            {% else %}
            <span>✖</span>
            {% endif %}

        </div>

        <div class="question-explanation">
            {% if correct == 'true' %}
            <p>{{ question.explanation_correct }}</p>
            {% else %}
            <p>{{ question.explanation_wrong }}</p>
            {% endif %}
        </div>


        <a class="primary-button quiz-btn" href="/?step={{ step | plus: 1 }}">
            Volgende vraag
        </a>

    </div>

    {% else %}

    {% for section in sections %}
    <article class="single-quiz-question {% if step != forloop.index0 %}is-hidden{% endif %}">
        {% comment %} <p>DEBUG step: {{ step }}</p> {% endcomment %}

        <form class="question-answer-form" action="/quiz/answer" method="post">
            <input type="hidden" name="questionId" value="{{ section.questions[0].id }}">
            <input type="hidden" name="step" value="{{ forloop.index0 }}">

            <fieldset class="quiz-options">
                <legend>
                    <small class="question-progress">
                        Vraag {{ forloop.index }}/{{ sections.size }}
                    </small>

                    {% for question in section.questions %}
                    <h3 class="question-title">{{ question.question }}</h3>
                    {% endfor %}
                </legend>

                {% for question in section.questions %}
                {% for option in question.options %}
                <label class="quiz-option">
                    <input type="radio" name="answerKey" value="{{ option.key }}" required>
                    {{ option.key }}. {{ option.answer }}
                </label>
                {% endfor %}
                {% endfor %}
            </fieldset>

            <button class="primary-button quiz-btn" type="submit">
                Controleren
            </button>
        </form>

        {% comment %} <h3>Resultaat:</h3>
        {% if answered %}
        {% if correct == "true" %}
        <p class="">✅ Goed!</p>
        {% else %}
        <p class="">❌ Fout</p>
        {% endif %}
        {% endif %} {% endcomment %}

    </article>
    {% endfor %}

    {% endif %}
</div>