<div class="quiz-component">
    {% for quizQuestion in quizQuestions %}
    <article class="single-quiz-question">
        <span class="question-progress">Vraag {{ forloop.index }}/{{ quizQuestions.size }}</span>

        <h3>{{ quizQuestion.question }}</h3>

        <form class="question-answer-form" action="/" method="post">
            <input type="hidden" name="questionId" value="{{ quizQuestion.id }}">

            <fieldset class="quiz-options">
                {% for option in quizQuestion.options %}
                <label class="quiz-option">

                    <input type="radio" name="answer" value="{{ option.key }}">
                    {{ option.key }}. {{ option.answer }}

                </label>
                {% endfor %}
            </fieldset>

            <button class="primary-button quiz-btn" type="submit">Controleren</button>

        </form>

    </article>
    {% endfor %}
</div>

{% comment %} ORIGINAL
<div class="quiz-component">
    {% for quizQuestion in quizQuestions %}
    <article class="single-quiz-question" tabindex="0">
        <span class="question-progress">Vraag {{ forloop.index }}/{{ quizQuestions.size }}</span>
        <h3>{{ quizQuestion.question }}</h3>
        <fieldset class="quiz-options">
            {% for option in quizQuestion.options %}
            <label class="quiz-option">
                <input type="radio" name="question-{{ quizQuestion.id }}" value="{{ option.key }}" {% if
                    option.is_correct %}data-correct="true" {% endif %}>
                {{ option.key }}. {{ option.answer }}
                <span class="option-indicator" hidden></span>
            </label>
            {% endfor %}
        </fieldset>
        <div class="question-explanation-container">
            <p class="question-explanation-correct" hidden>{{ quizQuestion.explanation_correct }}</p>
            <p class="question-explanation-wrong" hidden>{{ quizQuestion.explanation_wrong }}</p>
        </div>
    </article>
    {% endfor %}
</div>{% endcomment %}