<div class="quiz-component">

    {% for section in sections %}
    <article class="single-quiz-question">

        <form class="question-answer-form" action="/" method="post">
            <input type="hidden" name="questionId" value="{{ section.questions[0].id }}">

            <fieldset class="quiz-options">
                <legend>
                    <small class="question-progress">
                        Vraag {{ forloop.index }}/{{ sections.size }}
                    </small>

                    {% for question in section.questions %}
                    <h3>{{ question.question }}</h3>
                    {% endfor %}
                </legend>

                {% for question in section.questions %}
                {% for option in question.options %}
                <label class="quiz-option">
                    <input type="radio" name="answerKey" value="{{ option.key }}" required>
                    {{ option.key }}. {{ option.answer }}
                </label>
                {% endfor %}
                {% endfor %}
            </fieldset>

            <button class="primary-button quiz-btn" type="submit">
                Controleren
            </button>
        </form>

    </article>
    {% endfor %}
</div>

{% comment %} ORIGINAL
<div class="quiz-component">
    {% for section in sections %}
    <article class="single-quiz-question" tabindex="0">
        <span class="question-progress">Vraag {{ forloop.index }}/{{ sections.size }}</span>
        <h3>{{ section.question }}</h3>
        <fieldset class="quiz-options">
            {% for option in section.options %}
            <label class="quiz-option">
                <input type="radio" name="question-{{ section.id }}" value="{{ option.key }}" {% if option.is_correct
                    %}data-correct="true" {% endif %}>
                {{ option.key }}. {{ option.answer }}
                <span class="option-indicator" hidden></span>
            </label>
            {% endfor %}
        </fieldset>
        <div class="question-explanation-container">
            <p class="question-explanation-correct" hidden>{{ section.explanation_correct }}</p>
            <p class="question-explanation-wrong" hidden>{{ section.explanation_wrong }}</p>
        </div>
    </article>
    {% endfor %}
</div>{% endcomment %}