<div class="timeline-component">

    {% for timelineItem in timelineItems %}
    <div class="timeline-item">

        <time class="timeline-year" datetime="{{ timelineItem.start_year }}">{{ timelineItem.start_year }}</time>
        <article class="timeline-article">
            <div class="timeline-article-content">
                {% comment %} <time datetime="{{ timelineItem.start_year }}">{{ timelineItem.start_year }}</time>
                {% endcomment %}
                <p>{{ timelineItem.start_year }} - {{ timelineItem.end_year }}</p>
                <h3 class="timeline-title">{{ timelineItem.title }}</h3>
                <p class="timeline-summary">{{ timelineItem.summary }}</p>

                <details class="timeline-details">
                    <summary>Lees meer</summary>
                    <div class="timeline-details-content">
                        {% for block in timelineItem.content_blocks %}

                        {% if block.block_type == 'heading' %}
                        <h4>{{ block.text }}</h4>
                        <br>
                        {% elsif block.block_type == 'paragraph' %}
                        <p>{{ block.text }}</p>
                        <br>

                        {% elsif block.block_type == 'quote' %}
                        <p><strong>{{ block.text }}</strong></p>
                        <br>

                        {% endif %}
                        {% endfor %}
                    </div>
                </details>

            </div>

            <div class="timeline-article-image">
                {% if timelineItem.cover %}
                <picture>
                    <source type="image/avif"
                        srcset="https://fdnd-agency.directus.app/assets/{{ timelineItem.cover.id }}?fit=cover&format=avif&height=700&quality=80">

                    <source type="image/webp"
                        srcset="https://fdnd-agency.directus.app/assets/{{ timelineItem.cover.id }}?fit=cover&format=webp&height=700&quality=80">

                    <img src="https://fdnd-agency.directus.app/assets/{{ timelineItem.cover.id }}?height=700&quality=80"
                        width="{{ timelineItem.cover.width }}" height="{{ timelineItem.cover.height }}" alt="">
                </picture>
                {% else %}
                <img src="/assets/placeholder.jpg" alt="Geen afbeelding beschikbaar">
                {% endif %}
            </div>

        </article>
    </div>
    {% endfor %}
</div>