<div class="timeline-component">

    {% for section in sections %}
    <div class="timeline-item">

        <time class="timeline-year" datetime="{{ section.start_year }}">{{ section.start_year }}</time>
        <article class="timeline-article">
            <div class="timeline-article-content">
                <time datetime="{{ section.start_year }}">{{ section.start_year }}</time>
                <h3 class="timeline-title">{{ section.title }}</h3>
                <p class="timeline-summary">{{ section.summary }}</p>
            </div>

            <div class="timeline-article-image">
                {% if section.cover %}
                <picture>
                    <source type="image/avif"
                        srcset="https://fdnd-agency.directus.app/assets/{{ section.cover }}?fit=cover&format=avif&height=700&quality=80">

                    <source type="image/webp"
                        srcset="https://fdnd-agency.directus.app/assets/{{ section.cover }}?fit=cover&format=webp&height=700&quality=80">

                    <img src="https://fdnd-agency.directus.app/assets/{{ section.cover }}?height=700&quality=80"
                        width="{{ section.cover.width }}" height="{{ section.cover.height }}" alt="">
                </picture>
                {% else %}
                <img src="/assets/placeholder.jpg" alt="Geen afbeelding beschikbaar">
                {% endif %}
            </div>

        </article>
    </div>
    {% endfor %}
</div>