{% render 'partials/head.liquid' %}


{% comment %} <section class="timeline">
    <h2 class="section-title">Timeline van de Grote Elektriseermachine</h2>


    <div class="timeline-container">
        <div class="timeline-item">
            <time class="timeline-year">1745</time>
            <article class="timeline-article">
                <time datetime="1745">1745</time>
                <h3 class="timeline-title">Uitvinding van de Leidse fles</h3>
                <p class="timeline-description">Zonder de Leidse fles, een vroege “batterij” om elektriciteit op te
                    slaan, zou de Grote
                    Elektriseermachine niet mogelijk zijn geweest. Dit is de technische basis.</p>
                <img src="/assets/placeholder.jpg">
            </article>
        </div>

        <div class="timeline-item">
            <time class="timeline-year">1745</time>
            <article class="timeline-article">
                <time datetime="1745">1745</time>
                <h3 class="timeline-title">Uitvinding van de Leidse fles</h3>
                <p class="timeline-description">Zonder de Leidse fles, een vroege “batterij” om elektriciteit op te
                    slaan, zou de Grote
                    Elektriseermachine niet mogelijk zijn geweest. Dit is de technische basis.</p>
                <img src="/assets/placeholder.jpg">
            </article>
        </div>

    </div>
</section> {% endcomment %}

<section class="timeline">
    <h2 class="section-title">Timeline van de Grote Elektriseermachine</h2>
    <div class="timeline-container">

        {% for timelineItem in timelineItems %}
        <div class="timeline-item">
            <time class="timeline-year" datetime="{{ timelineItem.start_year }}">{{ timelineItem.start_year }}</time>
            <article class="timeline-article">
                <time datetime="{{ timelineItem.start_year }}">{{ timelineItem.start_year }}</time>
                <h3 class="timeline-title">{{ timelineItem.title }}</h3>
                <p class="timeline-description">{{ timelineItem.summary }}</p>
                <img src="https://fdnd-agency.directus.app/assets/{{ timelineItem.cover }}">
            </article>
        </div>
        {% endfor %}
    </div>
</section>

{% render 'partials/foot.liquid' %}

<details style="padding: 1rem; color: white;">
    <summary>JSON</summary>
    {{ timelineItems | json }}
</details>