{% render 'partials/head.liquid' %}

{% comment %} {% for detail in details %}
<section class="hero">
    {% if detail.cover %}
    <picture>
        <source type="image/avif"
            srcset="https://fdnd-agency.directus.app/assets/{{ detail.cover.id }}?fit=cover&format=avif&height=700&quality=80">

        <source type="image/webp"
            srcset="https://fdnd-agency.directus.app/assets/{{ detail.cover.id }}?fit=cover&format=webp&height=700&quality=80">

        <img src="https://fdnd-agency.directus.app/assets/{{ detail.cover }}?height=700&quality=80"
            width="{{ detail.cover.width }}" height="{{ detail.cover.height }}" alt="Afbeelding van {{ detail.title }}">
    </picture>
    {% else %}
    <img src="/assets/placeholder.jpg" alt="Geen afbeelding beschikbaar">
    {% endif %}
</section>

<section class="masterpiece-details">
    <div class="left-side">
        <time datetime="{{ detail.period }}">{{ detail.period }}</time>
        <h1>{{ detail.title }}</h1>
        <p class="creator">{{ persons.first.last_name }}, {{ persons.first.first_name }}</p>
        <a class="primary-button" href="#">Bekijk onze hele collectie</a>
        <dl>
            <dt>Objecttype</dt>
            <dd>{{ detail.object_type }}</dd>
        </dl>
        <details>
            <summary>
                details
            </summary>

            <h4>Maker(s)</h4>
            <div>
                {% for person in persons %}
                <p>{{ person.last_name }}, {{ person.first_name }} ({{ person.birth_year }}-{{ person.death_year }})</p>
                <p>{{ person.roles }}</p>
                {% endfor %}
            </div>
        </details>
    </div>

    <div class="right-side">
        {% if detail.is_on_display == true %}
        <p class="displayed"><span class="on-display"></span>Nu te zien in het museum</p>
        {% elsif detail.is_on_display == false %}
        <p class="displayed"><span class="not-on-display"></span>Niet te zien in het museum</p>
        {% endif %}

        {% for content in detail.content_blocks %}
        {% if content.block_type == 'heading' %}
        <h3>{{ content.text }}</h3>
        {% elsif content.block_type == 'paragraph' %}
        <p>{{ content.text }}</p>
        {% endif %}
        {% endfor %}
    </div>

</section>
{% endfor %}

<section class="timeline">
    <h2 class="section-title">Bekijk de tijdlijn</h2>
    {% render 'partials/timeline-component.liquid', sections: sections %}

</section> {% endcomment %}

<section>
    <h2 class="section-title">Test je kennis</h2>
    <div class="quiz-wrapper">
        {% render 'partials/quiz-component.liquid', sections: sections, answered: answered, correct: correct, step:
        step,
        screen: screen, question: question, correctOption: correctOption, answerKey: answerKey,
        selectedOption: selectedOption, attemptId: attemptId, score: score, totalQuestions: totalQuestions %}
    </div>
</section>

{% render 'partials/foot.liquid' %}