{% render 'partials/head.liquid' %}

<section class="timeline">
    <h2 class="section-title">Timeline van de Grote Elektriseermachine</h2>
    <div class="timeline-container">

        {% for timelineItem in timelineItems %}
        <div class="timeline-item">
            <time class="timeline-year" datetime="{{ timelineItem.start_year }}">{{ timelineItem.start_year }}</time>
            <article class="timeline-article">
                <time datetime="{{ timelineItem.start_year }}">{{ timelineItem.start_year }}</time>
                <h3 class="timeline-title">{{ timelineItem.title }}</h3>
                <p class="timeline-summary">{{ timelineItem.summary }}</p>

                {% if timelineItem.cover %}
                <picture>
                    <source type="image/avif"
                        srcset="https://fdnd-agency.directus.app/assets/{{ timelineItem.cover.id }}?fit=cover&format=avif&height=700&quality=80">

                    <source type="image/webp"
                        srcset="https://fdnd-agency.directus.app/assets/{{ timelineItem.cover.id }}?fit=cover&format=webp&height=700&quality=80">

                    <img class="single-article-cover"
                        src="https://fdnd-agency.directus.app/assets/{{ timelineItem.cover.id }}?height=700&quality=80"
                        width="{{ timelineItem.cover.width }}" height="{{ timelineItem.cover.height }}">
                </picture>
                {% else %}
                <img src="/assets/placeholder.jpg" alt="Geen afbeelding beschikbaar"">
                {% endif %}          

            </article>
        </div>
        {% endfor %}
    </div>
</section>

{% render 'partials/foot.liquid' %}

              {% comment %}
                {% for block in timelineItem.content_blocks %}
                <p>{{ block.text }}</p>
                {% endfor %} {% endcomment %}

<details style=" padding: 1rem; color: white;">
                <summary>JSON</summary>
                {{ timelineItems | json }} </details>