{% render 'partials/head.liquid' %}

<section class="hero">
    {% for detail in details %}

    {% if detail.cover %}
    <picture>
        <source type="image/avif"
            srcset="https://fdnd-agency.directus.app/assets/{{ detail.cover.id }}?fit=cover&format=avif&height=700&quality=80">

        <source type="image/webp"
            srcset="https://fdnd-agency.directus.app/assets/{{ detail.cover.id }}?fit=cover&format=webp&height=700&quality=80">

        <img src="https://fdnd-agency.directus.app/assets/{{ detail.cover }}?height=700&quality=80"
            width="{{ detail.cover.width }}" height="{{ detail.cover.height }}" alt="">
    </picture>
    {% else %}
    <img src="/assets/placeholder.jpg" alt="Geen afbeelding beschikbaar">
    {% endif %}

    {% endfor %}
</section>

<section class="timeline">
    {% comment %} <h2 class="section-title">Timeline</h2> {% endcomment %}
    {% render 'partials/timeline-component.liquid', sections: sections %}

</section>


<section class="quiz">
    {% comment %} <h2>Quiz</h2> {% endcomment %}
    {% render 'partials/quiz-component.liquid', sections: sections, answered: answered, correct: correct, step: step,
    screen: screen, question: question, correctOption: correctOption, answerKey: answerKey,
    selectedOption: selectedOption %}
</section>

{% render 'partials/foot.liquid' %}