{% render 'partials/head.liquid' %}

<section class="timeline" hidden>
    {% comment %} <h2 class="section-title">Timeline van de Grote Elektriseermachine</h2> {% endcomment %}
    {% render 'partials/timeline-component.liquid', timelineItems: timelineItems %}

</section>


<section class="quiz">
    {% for quizQuestion in quizQuestions %}
    <card>
        <button class="back-btn">Terug</button>
        <span class="question-progress">Vraag {{ quizQuestion.id }}/10</span>
        <h2>{{ quizQuestion.question }}</h2>
        <fieldset>
            {% for option in quizQuestion.options %}
            <label>
                <input type="radio" name="question-{{ quizQuestion.id }}" value="{{ option.key }}">
                {{ option.key }}. {{ option.answer }}
            </label>
            {% endfor %}
        </fieldset>

        <p class="question-explanation-correct">{{ quizQuestion.explanation_correct }}</p>
        <p class="question-explanation-wrong">{{ quizQuestion.explanation_wrong }}</p>
        <button class="next-btn">Volgende</button>

    </card>
    {% endfor %}


</section>

{% render 'partials/foot.liquid' %}

{% comment %}
{% for block in timelineItem.content_blocks %}
<p>{{ block.text }}</p>
{% endfor %} {% endcomment %}