{% render 'partials/head.liquid' %}

<section class="timeline" hidden>
    {% comment %} <h2 class="section-title">Timeline van de Grote Elektriseermachine</h2> {% endcomment %}
    {% render 'partials/timeline-component.liquid', timelineItems: timelineItems %}

</section>


<section class="quiz">
    <div class="quiz-component">
        {% for quizQuestion in quizQuestions %}
        <div class="quiz-question">
            <span class="question-progress">Vraag {{ forloop.index }}/{{ quizQuestions.size }}</span>
            <h2>{{ quizQuestion.question }}</h2>
            <fieldset class="quiz-options">
                {% for option in quizQuestion.options %}
                <label class="quiz-option">
                    <input type="radio" name="question-{{ quizQuestion.id }}" value="{{ option.key }}" {% if
                        option.is_correct %}data-correct="true" {% endif %}>
                    {{ option.key }}. {{ option.answer }}
                    <span class="option-indicator" hidden></span>
                </label>
                {% endfor %}
            </fieldset>

            {% comment %} <button type="submit">Bevestigen</button> {% endcomment %}

            <div class="question-explanation-container">
                <p class="question-explanation-correct" hidden>{{ quizQuestion.explanation_correct }}</p>
                <p class="question-explanation-wrong" hidden>{{ quizQuestion.explanation_wrong }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% render 'partials/foot.liquid' %}

{% comment %} VERSION 01
<card class="quiz-card" data-question-id="{{ quizQuestion.id }}">
    <button class="back-btn" aria-label="Vorige vraag">Vorige vraag</button>
    <span class="question-progress">Vraag {{ quizQuestion.id }}/{{ quizQuestions.size }}</span>
    <h2>{{ quizQuestion.question }}</h2>
    <fieldset class="quiz-options">
        {% for option in quizQuestion.options %}
        <label class="quiz-option">
            <input type="radio" name="question-{{ quizQuestion.id }}" value="{{ option.key }}" {% if option.is_correct
                %} data-correct="true" {% endif %}>
            {{ option.key }}. {{ option.answer }}
        </label>
        {% endfor %}
    </fieldset>
    <div class="question-explanation-container">
        <p class="question-explanation-correct">{{ quizQuestion.explanation_correct }}</p>
        <p class="question-explanation-wrong">{{ quizQuestion.explanation_wrong }}</p>
    </div>
    <button class="next-btn">Volgende</button>
</card> {% endcomment %}